<!DOCTYPE html>

<!--
  To change the theme, change the class on the html tag below to one of:
  - theme-auto: Automatically switches based on user's system preferences
  - theme-light: Forces light theme
  - theme-dark: Forces dark theme
-->

<html class="theme-{{site.theme_mode}}" lang="{{ page.lang | default: site.lang | default: "en-US" }}"> <!-- Update`class="theme-auto" with your preference -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title - Change this to your name/brand (50-60 characters recommended) -->
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ "/images/avatar.png" | relative_url }}"> <!-- Update this with your own favicon -->

    <!-- Meta Description - Write a description (150-160 characters recommended) -->
    <meta name="description" content="{{ site.description }}">

    <!-- Keywords -->
    <meta name="keywords" content="{{ site.keywords }}">

    <!-- Canonical URL - Helps prevent duplicate content issues -->
    <meta rel="canonical" href="{{ "/" | absolute_url }}">

    <!-- Author Information -->
    <meta name="author" content="{{ site.author.name }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- LittleLink Extended Stylesheet (Optional) -->
    <!-- <link rel="stylesheet" href="css/brands-extended.css"> -->
    <!-- Learn more at https://github.com/sethcottle/littlelink-extended.
         Remove comments if you've added LittleLink Extended dependencies -->
    
    {% include google-analytics.html %}

  </head>

<body>

    <div class="container">
        <div class="column">

            <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
            <img class="avatar avatar--{{site.avatar.rounding}}" src="{{ "/assets/images/avatar.png" | relative_url }}" srcset="images/avatar@2x.png 2x" alt="LittleLink">

            <!-- Replace with your name or brand -->
            <h1>
              <div>{{ site.title }}</div>
            </h1>

            <!-- Add a short description about yourself or your brand -->
            <p>{{ site.description }}</p>

            <!-- All your buttons go here -->
             {% if site.links %}
            <div class="button-stack" role="navigation">
              {% for item in site.links %}
                {% if site.use_inline_icon %}
                  <a class="button button-{{item.style}}" href="{{item.url}}" target="_blank" rel="noopener" role="button">{% capture icon_path %}images/icons/{{ item.icon }}.svg{% endcapture %}<span class="icon" aria-hidden="true" alt="{{item.alt}}">{% include {{ icon_path }} %}</span>{{item.text}}</a>
                {% else %}
                  <a class="button button-{{item.style}}" href="{{item.url}}" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ '/assets/images/icons/' | append: item.icon | append: '.svg' | relative_url }}" alt="{{item.alt}}">{{item.text}}</a>
                {% endif %}
                
              {% endfor %}              
            </div>
            {% endif %}

      <!-- Feel free to add your own footer information, including updating `privacy.html` to reflect how your LittleLink fork is set up -->
      <footer>
        <a href="privacy.html">Privacy Policy</a> | Build your own by forking <a href="https://littlelink.io" target="_blank" rel="noopener">LittleLink</a>
      </footer>

    </div>
  </div>

</body>

</html>
