<!DOCTYPE html>

<!--
  To change the theme, change the class on the html tag below to one of:
  - theme-auto: Automatically switches based on user's system preferences
  - theme-light: Forces light theme
  - theme-dark: Forces dark theme
-->

<html class="theme-auto" lang="{{ page.lang | default: site.lang | default: "en-US" }}"> <!-- Update`class="theme-auto" with your preference -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title - Change this to your name/brand (50-60 characters recommended) -->
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ "/images/avatar.png" | relative_url }}"> <!-- Update this with your own favicon -->

    <!-- Meta Description - Write a description (150-160 characters recommended) -->
    <meta name="description" content="{{ site.description }}">

    <!-- Keywords -->
    <meta name="keywords" content="{{ site.keywords }}">

    <!-- Canonical URL - Helps prevent duplicate content issues -->
    <meta rel="canonical" href="{{ "/" | absolute_url }}">

    <!-- Author Information -->
    <meta name="author" content="{{ site.author.name }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- LittleLink Extended Stylesheet (Optional) -->
    <!-- <link rel="stylesheet" href="css/brands-extended.css"> -->
    <!-- Learn more at https://github.com/sethcottle/littlelink-extended.
         Remove comments if you've added LittleLink Extended dependencies -->

  </head>

<body>

    <div class="container">
        <div class="column">

            <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
            <img class="avatar avatar--rounded" src="{{ "/assets/images/avatar.png" | relative_url }}" srcset="images/avatar@2x.png 2x" alt="LittleLink">

            <!-- Replace with your name or brand -->
            <h1>
              <div>{{ site.title }}</div>
            </h1>

            <!-- Add a short description about yourself or your brand -->
            <p>{{ site.description }}</p>

            <!-- All your buttons go here -->
            <div class="button-stack" role="navigation">

              {% for item in site.links %}
                <a class="button button-{{item.style}}" href="{{item.url}}" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/{{item.icon}}.svg" | relative_url }}" alt="{{item.alt}}">{{item.text}}</a>
              {% endfor %}

              <!-- Default LittleLink -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/littlelink.svg" | relative_url }}" alt="LittleLink Logo">LittleLink</a>

              <!-- Amazon -->
              <a class="button button-amazon" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/amazon.svg" | relative_url }}" alt="Amazon Wishlist Logo">Amazon Wishlist</a>

              <!-- Amazon Music -->
              <a class="button button-amazon-music" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/amazon-music.svg" | relative_url }}" alt="Amazon Music Logo">Listen on Amazon Music</a>

              <!-- Apple App Store -->
              <a class="button button-appstore" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple.svg" | relative_url }}" alt="Apple Logo">Apple App Store</a>

              <!-- Apple Invites -->
              <a class="button button-invites" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple-invites.svg" | relative_url }}" alt="Apple Invites Logo">Apple Invites</a>

              <!-- Apple Music -->
              <a class="button button-apple-music" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple-music.svg" | relative_url }}" alt="Apple Music Logo">Listen on Apple Music</a>

              <!-- Apple Music Alternate -->
              <a class="button button-apple-music-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple-music-alt.svg" | relative_url }}" alt="Apple Music Logo">Listen on Apple Music</a>

              <!-- Apple Podcasts -->
              <a class="button button-apple-podcasts" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple-podcasts.svg" | relative_url }}" alt="Apple Podcasts Logo">Listen on Apple Podcasts</a>

              <!-- Apple Podcasts Alternate -->
              <a class="button button-apple-podcasts-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/apple-podcasts-alt.svg" | relative_url }}" alt="Apple Podcasts Logo">Listen on Apple Podcasts</a>

              <!-- Bandcamp -->
              <a class="button button-bandcamp" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/bandcamp.svg" | relative_url }}" alt="Bandcamp Logo">Bandcamp</a>

              <!-- Behance -->
              <a class="button button-behance" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/behance.svg" | relative_url }}" alt="Behance Logo">Behance</a>

              <!-- Bluesky -->
              <a class="button button-bluesky" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/bluesky.svg" | relative_url }}" alt="Bluesky Logo">Bluesky</a>

              <!-- Bluesky Alt -->
              <a class="button button-bluesky-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/bluesky-alt.svg" | relative_url }}" alt="Bluesky Logo">Bluesky</a>

              <!-- Buy Me A Coffee -->
              <a class="button button-coffee" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/buy-me-a-coffee.svg" | relative_url }}" alt="Buy Me A Coffee Logo">Buy Me A Coffee</a>

              <!-- Cal.com -->
              <a class="button button-cal" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/cal.svg" | relative_url }}" alt="Cal.com Logo">Schedule with Cal.com</a>

              <!-- Calendly -->
              <a class="button button-calendly" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/calendly.svg" | relative_url }}" alt="Calendly Logo">Schedule with Calendly</a>

              <!-- Cash App -->
              <a class="button button-cash-app" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/cash-app-dollar.svg" | relative_url }}" alt="Cash App Logo">Cash App</a>

              <!-- Dev.to -->
              <a class="button button-dev-to" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/dev-to.svg" | relative_url }}" alt="Dev.to Logo">Dev.to</a>

              <!-- Discogs -->
              <a class="button button-discogs" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/discogs.svg" | relative_url }}" alt="Discogs Logo">Discogs</a>

              <!-- Discogs Alt -->
              <a class="button button-discogs-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/discogs-alt.svg" | relative_url }}" alt="Discogs Logo">Discogs</a>

              <!-- Discord -->
              <a class="button button-discord" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/discord.svg" | relative_url }}" alt="Discord Logo">Discord</a>

              <!-- Dribbble -->
              <a class="button button-dribbble" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/dribbble.svg" | relative_url }}" alt="Dribbble Logo">Dribbble</a>

              <!-- Etsy -->
              <a class="button button-etsy" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/etsy.svg" | relative_url }}" alt="Etsy Logo">Shop on Etsy</a>

              <!-- Facebook -->
              <a class="button button-faceb" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/facebook.svg" | relative_url }}" alt="Facebook Logo">Find us on Facebook</a>

              <!-- Facebook Messenger -->
              <a class="button button-messenger" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/messenger.svg" | relative_url }}" alt="Messenger Logo">Chat on Messenger</a>

              <!-- Figma -->
              <a class="button button-figma" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/figma.svg" | relative_url }}" alt="Figma Logo">Figma Community</a>

              <!-- Fiverr -->
              <a class="button button-fiverr" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/fiverr.svg" | relative_url }}" alt="Fiverr Logo">Fiverr Gig</a>

              <!-- Flickr -->
              <a class="button button-flickr" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/flickr.svg" | relative_url }}" alt="Flickr Logo">Flickr</a>

              <!-- GitHub -->
              <a class="button button-github" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/github.svg" | relative_url }}" alt="GitHub Logo">GitHub</a>

              <!-- GitLab -->
              <a class="button button-gitlab" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/gitlab.svg" | relative_url }}" alt="GitLab Logo">GitLab</a>

              <!-- GoFundMe -->
              <a class="button button-gofundme" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/gofundme.svg" | relative_url }}" alt="GoFundMe Logo">GoFundMe</a>

              <!-- Goodreads -->
              <a class="button button-goodreads" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/goodreads.svg" | relative_url }}" alt="Goodreads Logo">Goodreads</a>

              <!-- Google Drive -->
              <a class="button button-google-black" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/google-drive.svg" | relative_url }}" alt="Google Drive Logo">View in Google Drive</a>

              <!-- Google Play Store -->
              <a class="button button-playstore" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/google-play.svg" | relative_url }}" alt="Google Play Store Logo">Google Play Store</a>

              <!-- Google Scholar -->
              <a class="button button-google-scholar" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/google-scholar.svg" | relative_url }}" alt="Google Scholar Logo">Google Scholar</a>

              <!-- Hashnode -->
              <a class="button button-hashnode" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/hashnode.svg" | relative_url }}" alt="Hashnode Logo">Hashnode</a>

              <!-- Instagram -->
              <a class="button button-instagram" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/instagram.svg" | relative_url }}" alt="Instagram Logo">Instagram</a>

              <!-- Kick -->
              <a class="button button-kick" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/kick.svg" | relative_url }}" alt="Kick Logo">Kick</a>

              <!-- Kick Alt -->
              <a class="button button-kick-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/kick-alt.svg" | relative_url }}" alt="Kick Logo">Kick</a>

              <!-- Kickstarter -->
              <a class="button button-kickstarter" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/kickstarter.svg" | relative_url }}" alt="Kickstarter Logo">Kickstarter</a>

              <!-- Kit -->
              <a class="button button-kit" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/kit.svg" | relative_url }}" alt="Kit Logo">Kit</a>

              <!-- Ko-fi -->
              <a class="button button-ko-fi" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/ko-fi.svg" | relative_url }}" alt="Ko-fi Logo">Support me on Ko-fi</a>

              <!-- Last.fm -->
              <a class="button button-last-fm" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/last-fm.svg" | relative_url }}" alt="">Last.fm</a>

              <!-- Letterboxd -->
              <a class="button button-letterboxd" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/letterboxd.svg" | relative_url }}" alt="">Letterboxd</a>

              <!-- Line -->
              <a class="button button-line" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/line.svg" | relative_url }}" alt="Line Logo">Line</a>

              <!-- LinkedIn -->
              <a class="button button-linked" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/linkedin.svg" | relative_url }}" alt="LinkedIn Logo">LinkedIn</a>

              <!-- Mailchimp -->
              <a class="button button-mailchimp" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/mailchimp.svg" | relative_url }}" alt="Mailchimp Logo">Mailchimp</a>

              <!-- Mastodon -->
              <a class="button button-mastodon" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/mastodon.svg" | relative_url }}" alt="Mastodon Logo">Mastodon</a>

              <!-- Matrix -->
              <a class="button button-matrix" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/matrix.svg" | relative_url }}" alt="Matrix Logo">Matrix</a>

              <!-- Medium -->
              <a class="button button-medium" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/medium.svg" | relative_url }}" alt="Medium Logo">Medium</a>

              <!-- Meetup -->
              <a class="button button-meetup" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/meetup.svg" | relative_url }}" alt="Meetup Logo">Meetup</a>

              <!-- Meetup Alt -->
              <a class="button button-meetup-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/meetup-alt.svg" | relative_url }}" alt="Meetup Logo">Meetup</a>

              <!-- Microsoft Store -->
              <a class="button button-microsoft" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/microsoft.svg" | relative_url }}" alt="Microsoft Logo">Get it from Microsoft</a>

              <!-- Notion -->
              <a class="button button-notion" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/notion.svg" | relative_url }}" alt="Notion Logo">Notion</a>

              <!-- Obsidian -->
              <a class="button button-obsidian" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/obsidian.svg" | relative_url }}" alt="Obsidian Logo">Obsidian</a>

              <!-- OnlyFans -->
              <a class="button button-onlyfans" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/onlyfans.svg" | relative_url }}" alt="OnlyFans Logo">OnlyFans (18+)</a>

              <!-- Patreon -->
              <a class="button button-patreon" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/patreon.svg" | relative_url }}" alt="Patreon Logo">Patreon</a>

              <!-- PayPal -->
              <a class="button button-paypal" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/paypal.svg" | relative_url }}" alt="PayPal Logo">PayPal</a>

              <!-- Pinterest -->
              <a class="button button-pinterest" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/pinterest.svg" | relative_url }}" alt="Pinterest Logo">Pinterest</a>

              <!-- Product Hunt -->
              <a class="button button-product-hunt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/product-hunt.svg" | relative_url }}" alt="Product Hunt Logo">Product Hunt</a>

              <!-- Reddit -->
              <a class="button button-reddit" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/reddit.svg" | relative_url }}" alt="Reddit Logo">Reddit</a>

              <!-- Shop -->
              <a class="button button-shop" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/shop.svg" | relative_url }}" alt="Shop Logo">Buy with Shop</a>

              <!-- Signal -->
              <a class="button button-signal" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/signal.svg" | relative_url }}" alt="Signal Logo">Signal</a>

              <!-- Signal Alt -->
              <a class="button button-signal-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/signal-alt.svg" | relative_url }}" alt="Signal Logo">Signal</a>

              <!-- Slack -->
              <a class="button button-slack" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/slack.svg" | relative_url }}" alt="Slack Logo">Join Slack</a>

              <!-- Snapchat -->
              <a class="button button-snapchat" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/snapchat.svg" | relative_url }}" alt="Snapchat Logo">Snapchat</a>

              <!-- SoundCloud -->
              <a class="button button-soundcloud" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/soundcloud.svg" | relative_url }}" alt="SoundCloud Logo">SoundCloud</a>

              <!-- Spotify -->
              <a class="button button-spotify" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/spotify.svg" | relative_url }}" alt="Spotify Logo">Listen on Spotify</a>

              <!-- Spotify Alt -->
              <a class="button button-spotify-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/spotify-alt.svg" | relative_url }}" alt="Spotify Logo">Listen on Spotify</a>

              <!-- Square -->
              <a class="button button-square" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/square.svg" | relative_url }}" alt="Square Logo">Buy with Square</a>

              <!-- Stack Overflow -->
              <a class="button button-stack-overflow" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/stack-overflow.svg" | relative_url }}" alt="Stack Overflow Logo">Stack Overflow</a>

              <!-- Steam -->
              <a class="button button-steam" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/steam.svg" | relative_url }}" alt="Steam Logo">Steam</a>

              <!-- Steam Alt -->
              <a class="button button-steam-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/steam.svg" | relative_url }}" alt="Steam Logo">Steam</a>

              <!-- Strava -->
              <a class="button button-strava" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/strava.svg" | relative_url }}" alt="Strava Logo">Strava</a>

              <!-- Substack -->
              <a class="button button-substack" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/substack.svg" | relative_url }}" alt="Substack Logo">Substack</a>

              <!-- Telegram -->
              <a class="button button-telegram" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/telegram.svg" | relative_url }}" alt="Telegram Logo">Telegram</a>

              <!-- Threads -->
              <a class="button button-threads" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/threads.svg" | relative_url }}" alt="Threads Logo">Threads</a>

              <!-- Threema -->
              <a class="button button-threema" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/threema.svg" | relative_url }}" alt="Threema Logo">Threema</a>

              <!-- TikTok -->
              <a class="button button-tiktok" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/tiktok.svg" | relative_url }}" alt="TikTok Logo">TikTok</a>

              <!-- Trello -->
              <a class="button button-trello" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/trello.svg" | relative_url }}" alt="Trello Logo">Trello</a>

              <!-- Tumblr -->
              <a class="button button-tumb" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/tumblr.svg" | relative_url }}" alt="Tumblr Logo">Tumblr</a>

              <!-- Twitch -->
              <a class="button button-twitch" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/twitch.svg" | relative_url }}" alt="Twitch Logo">Twitch</a>

              <!-- Unsplash -->
              <a class="button button-unsplash" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/unsplash.svg" | relative_url }}" alt="Unsplash Logo">Unsplash</a>

              <!-- Venmo -->
              <a class="button button-venmo" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/venmo.svg" | relative_url }}" alt="Venmo Logo">Venmo</a>

              <!-- Vimeo -->
              <a class="button button-vimeo" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/vimeo.svg" | relative_url }}" alt="Vimeo Logo">Vimeo</a>

              <!-- VSCO -->
              <a class="button button-vsco" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/vsco.svg" | relative_url }}" alt="VSCO Logo">VSCO</a>

              <!-- WhatsApp -->
              <a class="button button-whatsapp" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/whatsapp.svg" | relative_url }}" alt="WhatsApp Logo">WhatsApp</a>

              <!-- WordPress -->
              <a class="button button-wordpress" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/wordpress.svg" | relative_url }}" alt="WordPress Logo">WordPress</a>

              <!-- X -->
              <a class="button button-x" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/x.svg" | relative_url }}" alt="X Logo">Follow on X</a>

              <!-- YouTube -->
              <a class="button button-yt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/youtube.svg" | relative_url }}" alt="YouTube Logo">YouTube</a>

              <!-- YouTube Alt -->
              <a class="button button-yt-alt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/youtube-alt.svg" | relative_url }}" alt="YouTube Logo">YouTube</a>

              <!-- YouTube Music -->
              <a class="button button-yt" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/youtube-music.svg" | relative_url }}" alt="YouTube Music Logo">Listen on YouTube Music</a>

              <!-- Zoom -->
              <a class="button button-zoom" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/zoom.svg" | relative_url }}" alt="Zoom Logo">Join Zoom Webinar</a>

              <!-- Generic Blog -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-blog.svg" | relative_url }}" alt="Blog Icon">Read our blog</a>

              <!-- Generic Calendar -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-calendar.svg" | relative_url }}" alt="Calendar Icon">Event RSVP</a>

              <!-- Generic Cloud -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-cloud.svg" | relative_url }}" alt="Cloud Icon">Download File</a>

              <!-- Generic Code -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-code.svg" | relative_url }}" alt="Code Icon">View the code</a>

              <!-- Generic Computer -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-computer.svg" | relative_url }}" alt="Computer Icon">Homelab Setup</a>

              <!-- Generic Email -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-email.svg" | relative_url }}" alt="Email Icon">Email Us</a>

              <!-- Generic Email Alt -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-email-alt.svg" | relative_url }}" alt="Email Icon">Email Us</a>

              <!-- Generic Homepage -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-homepage.svg" | relative_url }}" alt="Homepage Icon">Visit Homepage</a>

              <!-- Generic Map -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-map.svg" | relative_url }}" alt="Map Icon">Get Directions</a>

              <!-- Generic Phone -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-phone.svg" | relative_url }}" alt="Phone Icon">Call Us</a>

              <!-- Generic Review -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-review.svg" | relative_url }}" alt="Review Icon">Leave us a review</a>

              <!-- Generic RSS -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-rss.svg" | relative_url }}" alt="RSS Icon">RSS Subscribe</a>

              <!-- Generic Shopping Bag -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-shopping-bag.svg" | relative_url }}" alt="Shopping Bag Icon">Visit Our Shop</a>

              <!-- Generic Shopping Tag -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-shopping-tag.svg" | relative_url }}" alt="Shopping Tag Icon">10% Discount</a>

              <!-- Generic SMS -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-sms.svg" | relative_url }}" alt="SMS Icon">Send us a message</a>

              <!-- Generic Website -->
              <a class="button button-default" href="#" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/generic-website.svg" | relative_url }}" alt="Website Icon">Visit Website</a>

              <!-- LittleLink Extended -->
              <a class="button button-default" href="https://github.com/sethcottle/littlelink-extended" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="{{ "/assets/images/icons/littlelink.svg" | relative_url }}" alt="LittleLink Logo">LittleLink Extended</a>

      </div>

      <!-- Feel free to add your own footer information, including updating `privacy.html` to reflect how your LittleLink fork is set up -->
      <footer>
        <a href="privacy.html">Privacy Policy</a> | Build your own by forking <a href="https://littlelink.io" target="_blank" rel="noopener">LittleLink</a>
      </footer>

    </div>
  </div>

</body>

</html>
